0 9 * * 1-5 cd /root/framework.online/ && sh kill.sh
5 9 * * 1-5 cd /root/framework.online/ && sh run.sh

15 9 * * 1-5 curl http://127.0.0.1:8082/dolphin/init/
30 9 * * 1-5 curl http://127.0.0.1:8082/dolphin/start_all/

5 15 * * 1-5 cd /root/framework.online/dolphin && python catch_view_detail.py &> /dev/null
*/2 * * * 1-5 cd /root/framework.online/dolphin && python check_datafeeder.py >> /tmp/OnesideDolphin/check_datafeeder.log 2>&1
10 9 * * 1-5 cd /root/framework.online/dolphin && sh news_notification.sh &> /dev/null

#15 13 * * 1-5 cd /root/framework.online/dolphin && python GC_trader.py >> log/GC_trader.log 2>&1
#54 14 * * 1-5 cd /root/framework.online/dolphin && python GC_trader.py >> log/GC_trader.log 2>&1
#58 14 * * 1-5 cd /root/framework.online/dolphin && curl http://127.0.0.1:8082/dolphin/trade/update_today_trades/ >> log/crontab_update_today_trades.log 2>&1

#*/1 * * * 1-5 cd /root/framework.online/dolphin && python alert.py >> log/alert.log 2>&1

#31 9 * * 1-5 cd /root/framework.online/dolphin && python beiyinmei.py &> /dev/null
