15 9 * * 1-5 curl http://127.0.0.1:8082/dolphin/init/
30 9 * * 1-5 curl http://127.0.0.1:8082/dolphin/start_all/

15 13 * * 1-5 /usr/local/bin/python /root/work/framework/dolphin/GC_trader.py >> /tmp/GC_trader.log 2>&1
56 14 * * 1-5 /usr/local/bin/python /root/work/framework/dolphin/GC_trader.py >> /tmp/GC_trader.log 2>&1
58 14 * * 1-5 curl http://127.0.0.1:8082/dolphin/trade/update_today_trades/

*/1 * * * 1-5 /usr/local/bin/python ~/work/framework/dolphin/alert.py >> ~/work/framework/dolphin/log/alert.log
